:root {
    --color-violet-600: #7f22fe;
    --main-font: "Boogaloo-Regular";
}

* {
    font-family: var(--main-font);
}

@font-face {
    font-family: "Boogaloo-Regular";
    src: url(../customFonts/Boogaloo-Regular.ttf);
}

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.custom-scroll {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

input:focus,
select:focus,
textarea:focus,
input[type="checkbox"] {
    outline: none;
    border: 2px solid var(--color-violet-600) !important;
}

select:optional {
    color: #716f6f;
}

input::placeholder,
textarea::placeholder {
    color: #b0aeae;
}

.resize-none {
    resize: none !important;
}

/* custom letter spacing utilites */
.tracking-tight {
    letter-spacing: -0.05em;
}

.tracking-normal {
    letter-spacing: 0em;
}

.tracking-wide {
    letter-spacing: 0.05em;
}

.tracking-wider {
    letter-spacing: 0.1em;
}

.bg-blue {
    background-image: linear-gradient(to right, #1761fd, #2a7dff);
}

.bg-purple {
    background-image: linear-gradient(to right, #7e23fd, #503af7);
}

.bg-red {
    background-image: linear-gradient(to right, #fd1c50, #ea0019);
}

.bg-orange {
    background-image: linear-gradient(to right, #ffb300, #ff7200);
}

.w-30 {
    width: 30%;
}

.shadow-2 {
    box-shadow: 0px 2px 10px rgb(220, 218, 218);
}


.main-font {
    font-family: var(--main-font);
}

.bg-pink {
    background-color: #fef1f2 !important;
}

.bg-orange-subtle {
    background-color: #fffaec !important;
}


.w-40px {
    width: 40px;
}

.small-square {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medium-square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-square {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt-7 {
    padding-top: 7rem;
}

.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.p-4-5 {
    padding: 2.5rem;
}

.fs-7 {
    font-size: 0.8rem;
}

.text-violet-600 {
    color: var(--color-violet-600);
}

.text-grey {
    color: #b0aeae;
}

.bg-grey {
    background-color: #edebeb !important;
}

.bg-grey-subtle {
    background-color: #ececee !important;
}

.shadow-violet {
    box-shadow: 0px 3px 10px rgb(187, 166, 234);
}

.input-div {
    /* min-width: 400px; */
    width: 440px;
    height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.custom-input {
    outline: none;
    border: 1px solid rgb(219, 218, 218);
    padding: 8px;
    background-color: #f3f4f54f;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
